@font-face {
    font-family: "Ionicons";
    src: url('../assets/myFont/iconfont.eot?t=1492581322297');
    /* IE9*/
    src: url('../assets/myFont/iconfont.eot?t=1492581322297#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/myFont/iconfont.woff?t=1492581322297') format('woff'), /* chrome, firefox */
    url('../assets/myFont/iconfont.ttf?t=1492581322297') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../assets/myFont/iconfont.svg?t=1492581322297#iconfont') format('svg');
    /* iOS 4.1- */
}

.icon {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ion-md-chongzhi:before,
.ion-ios-chongzhi:before,
.ion-ios-chongzhi-outline:before {
    content: "\343b";
    color: #d33a31;
}

.ion-md-wode:before,
.ion-ios-wode:before,
.ion-ios-wode-outline:before {
    content: "\e655";
}

.ion-md-jia:before,
.ion-ios-jia:before,
.ion-ios-jia-outline:before {
    content: "\e691";
    font-size: 33px;
    color: #d33a31;
}

.ion-md-shouye:before,
.ion-ios-shouye:before,
.ion-ios-shouye-outline:before {
    content: "\e605";
}

.ion-md-quan:before,
.ion-ios-quan:before,
.ion-ios-quan-outline:before {
    content: "\e6a2";
}

.ion-md-zhuanjibi:before,
.ion-ios-zhuanjibi:before,
.ion-ios-zhuanjibi-outline:before {
    content: "\e613";
    color: #d33a31;
}

.ion-md-pinglun:before,
.ion-ios-pinglun:before,
.ion-ios-pinglun-outline:before {
    content: "\e621";
    color: #d33a31;
}

.ion-md-vip:before,
.ion-ios-vip:before,
.ion-ios-vip-outline:before {
    content: "\e632";
}

.ion-md-yaoqin:before,
.ion-ios-yaoqin:before,
.ion-ios-yaoqin-outline:before {
    content: "\e670";
    color: #d33a31;
}

.ion-md-xiaoxi:before,
.ion-ios-xiaoxi:before,
.ion-ios-xiaoxi-outline:before {
    content: "\e8c0";
    color: #d33a31;
}

.ion-md-shangcheng:before,
.ion-ios-shangcheng:before,
.ion-ios-shangcheng-outline:before {
    content: "\e821";
    color: #d33a31;
}

.ion-md-shoucang:before,
.ion-ios-shoucang:before,
.ion-ios-shoucang-outline:before {
    content: "\e673";
    color: #d33a31;
}

.ion-md-buguanzhu:before,
.ion-ios-buguanzhu:before,
.ion-ios-buguanzhu-outline:before {
    content: "\e630";
}

.ion-md-guanzhu:before,
.ion-ios-guanzhu:before,
.ion-ios-guanzhu-outline:before {
    content: "\e6ce";
}

.ion-md-bi:before,
.ion-ios-bi:before,
.ion-ios-bi-outline:before {
    content: "\e892";
}

.ion-md-vip1:before,
.ion-ios-vip1:before,
.ion-ios-vip1-outline:before {
    content: "\e600";
}

.ion-md-weixin:before,
.ion-ios-weixin:before,
.ion-ios-weixin-outline:before {
    content: "\e60d";
}

.ion-md-pengyouquan:before,
.ion-ios-pengyouquan:before,
.ion-ios-pengyouquan-outline:before {
    content: "\e888";
}

.ion-md-qq:before,
.ion-ios-qq:before,
.ion-ios-qq-outline:before {
    content: "\e616";
}

.ion-md-qqkongjian:before,
.ion-ios-qqkongjian:before,
.ion-ios-qqkongjian-outline:before {
    content: "\e6df";
}

.ion-md-fangda:before,
.ion-ios-fangda:before,
.ion-ios-fangda-outline:before {
    content: "\e626";
}

.ion-md-weiqiandao:before,
.ion-ios-weiqiandao:before,
.ion-ios-weiqiandao-outline:before {
    content: "\e611";
    color: #d33a31;
}

.ion-md-qiandao:before,
.ion-ios-qiandao:before,
.ion-ios-qiandao-outline:before {
    content: "\e603";
    color: #d33a31;
}

.ion-md-zuixin:before,
.ion-ios-zuixin:before,
.ion-ios-zuixin-outline:before {
    content: "\e668";
    color: #d33a31;
} 

.ion-md-jilu:before,
.ion-ios-jilu:before,
.ion-ios-jilu-outline:before {
    content: "\e604";
    color: #d33a31;
} 