page-Share {
    .QQ{
        color: #1d8fe1;
    }
    .QQZone{
        color: #f5c429;
    }
    .Wechat{
        color: #62bd29;
    }
    .Timeline{
        color: #7cd048
    }
    .IconSize{
    font-size:24px ;
    padding-bottom: 1vh;
  }
  .IconFont{
    font-size: 12px;
  }
}